* {
  padding: 0;
  margin: 0;
}

a, a:visited {display: contents; color: inherit; text-decoration: none;}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: calc((1rem + 0.3vw) / 1.2);
}

body {
  height: 100%;
  color: #f2b9b3;
  background: #1b2740;
  font-size: 1.2rem;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 30% 3rem auto;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.title {
  color: #ffecec;
  font-family: "Raleway", sans-serif;
  font-size: calc(4rem + 4vw);
  font-weight: 300;
  text-align: center;
  padding-bottom: 1rem;
}

.info {
  text-align: center;
  font-size: 1.5rem;
}

.projects {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: auto;
  box-sizing: border-box;
  padding: 0.5rem;
}

.projects .link {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.projects .link .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #f2dcc9;
  background: hsl(var(--h), var(--s), var(--l));
  padding: 1rem;
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.4);
}

.projects .gallery-link .icon {--h: 177; --s: 19%; --l: 75%;}
.projects .testing-link .icon {--h: 29; --s: 34%; --l: 61%;}
.projects .homequery-link .icon {--h: 2; --s: 19%; --l: 75%;}

.projects .link a:hover .icon,
.projects .link a:active .icon {
  background: hsl(var(--h), calc(var(--s) * 1.2), calc(var(--l) * 0.8));
}

.projects .link img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.projects .link .desc { 
  width: 100%;
}

.projects .link .desc h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}

.contacts {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts a {
  display: block;
  background: #5f6673;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem 0;
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2);
}

.contacts img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contacts a:hover, a:active {
  background: #6a7996;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #1b2740;
}

::-webkit-scrollbar-thumb {
  background: #ffecec;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8c5c5;
}

::selection {
  background: rgba(201, 224, 242, 0.3);
}