* {
  padding: 0;
  margin: 0;
}

a, a:visited {display: contents; color: inherit; text-decoration: none;}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: calc((1rem + 0.3vw) / 1.2);
}

body {
  height: 100%;
  color: #e1ecff;
  background: #121317;
}

main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 30% 3rem auto;
  grid-template-columns: 100%;
  place-items: center;
  place-content: center;
  padding: 1rem;
  z-index: 1;
}

.title {
  color: #bf616a;
  font-family: "Raleway", sans-serif;
  font-size: calc(4rem + 4vw);
  font-weight: 300;
  text-align: center;
  padding-bottom: 1rem;
}

.info {
  text-align: center;
  font-size: 1.5rem;
}

.projects {
  width: 100%;
  height: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: auto;
  box-sizing: border-box;
  padding: 0.5rem;
}

.projects .link {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.projects .link .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #ffffff;
  padding: 1rem;
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.4);
}

.projects .gallery-link .icon {background: #88add0;}
.projects .testing-link .icon {background: #a4a3e2;}
.projects .homequery-link .icon {background: #cb97c1;}

.projects .gallery-link a:hover .icon,
.projects .gallery-link a:active .icon {background: #6084a5;}
.projects .testing-link a:hover .icon,
.projects .testing-link a:active .icon {background: #7170af;}
.projects .homequery-link a:hover .icon,
.projects .homequery-link a:active .icon {background: #9c6b92;}

.projects .gallery-link .desc h3 {color: #88add0;}
.projects .testing-link .desc h3 {color: #a4a3e2;}
.projects .homequery-link .desc h3 {color: #cb97c1;}

.projects .link img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.projects .link .desc { 
  width: 100%;
}

.projects .link .desc h3 {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.contacts {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.contacts a {
  display: block;
  background: #3d4657;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem 0;
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2);
}

.contacts img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contacts a:hover, a:active {
  background: #566177;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #121317;
}

::-webkit-scrollbar-thumb {
  background: #e1ecff;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8dee9;
}

::selection {
  background: rgba(94, 129, 172, 0.3);
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: top left / 30% url("/background/1.svg") no-repeat, bottom right / 20% url("/background/2.svg") no-repeat;
  background-color: #121317;
  z-index: -1;
}