* {
  padding: 0;
  margin: 0;
}

a, a:visited {display: contents; color: inherit; text-decoration: none;}
button, input {color: inherit; font-family: inherit; font-size: inherit; font-weight: inherit; border: none; outline: none;}
button {cursor: pointer; display: block; box-sizing: content-box;}
button > img {width: 100%; height: 100%; pointer-events: none;}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: calc((1rem + 0.3vw) / 1.2);
}

body {
  min-height: 100%;
  color: #f2b9b3;
  background: #1b2740;
  font-size: 1.2rem;
  overflow-x: hidden;
}

.back {
  width: 2rem;
  height: 2rem;
  background: #f2b9b3;
  border-radius: 50%;
  position: sticky;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2);
  z-index: 1;
}

.back:hover,
.back:active {
  background: #db877d;
}

.images {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin: 3vh auto;
  color: #ffecec;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  border-bottom: 1px solid #5F6673;
  padding: 1rem;
  text-align: center;
}

.column {
  flex: 25%;
  max-width: calc(25% - 0.5em);
  padding: 0 0.25em;
}

.column img {
  margin-top: 0.5em;
  vertical-align: middle;
  width: 100%;
  height: auto;
  box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.4);
  outline: none;
  background: #9bb7d4;
  cursor: pointer;
}

.imageviewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background: black;
  transition: all 0.3s ease-in-out;
  transition-property: width, height;
  z-index: 5;
}

.imageviewer .close {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  background: #f2b9b3;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.imageviewer .close:hover,
.imageviewer .close:active {
  background: #db877d;
}

.imageviewer .control-btn {
  position: absolute;
  background: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: background-color 0.2s ease-in-out;
}
.imageviewer .prev,
.imageviewer .next {
  top: 50%;
  transform: translateY(-50%);
}
.imageviewer .prev {left: 1rem;}
.imageviewer .next {right: 1rem;}

.imageviewer .control-btn:hover,
.imageviewer .control-btn:active {
  background: rgba(255, 255, 255, 0.3);
}

.imageviewer .info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 1.5rem;
  background: none;
  border: 2px solid #f2dcc9;
  max-width: 3rem;
  max-height: 3rem;
  transition: max-width 0.3s ease-in-out,
    max-height 0.3s ease-in-out,
    background-color 0.2s ease-in-out;
  box-shadow: 0 0 5rem black;
  z-index: 6;
}

.imageviewer .info:not([open]):hover,
.imageviewer .info:not([open]):active {
  background: rgba(242, 220, 201, 0.3);
}

.imageviewer .info[open] {
  max-width: 40rem;
  max-height: 60vh;
  overflow: hidden;
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 800px) {
  .imageviewer .info[open] {
    max-width: 70%;
  }
}

.imageviewer .info p {
  padding: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
}

.imageviewer .info p a {
  color: white;
}

.imageviewer .info p a:hover,
.imageviewer .info p a:active {
  color: #e9d1ce;
}

.imageviewer .info span {
  display: block;
  padding: 0.5rem;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  color: #f2dcc9;
  font-size: 2rem;
  pointer-events: none;
}

.imageviewer .footer {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)); 
  z-index: 7;
}

.imageviewer .footer .img-title {
  width: 70%;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: calc(2rem + 2vw);
  color: #f2dcc9;
}

.imageviewer .full-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: opacity 0.1s ease-in-out;
  touch-action: none;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #1b2740;
}

::-webkit-scrollbar-thumb {
  background: #ffecec;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8c5c5;
}

::selection {
  background: rgba(201, 224, 242, 0.3);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}